.ce_powerslide {
	position: relative;
}

.ce_powerslide_button {
	display: block;
	position: absolute;
	text-indent: -999em;
}

.ce_powerslide_button span {
	display: block;
}

.ce_powerslide_position,
.ce_powerslide_previews {
	position: absolute;
}

.ce_powerslide_preview {
	cursor: pointer;
}

.ce_powerslide_container {
	overflow: hidden;
	position: relative;
}

.ce_powerslide_section {
	display: block;
}

/* controls styling */
#controls1, #controls2, #controls3 { display: block; padding: 10px; position: relative; margin: 12px auto; width: 500px; }

.prev_btn, .next_btn { width: 100px; height: 25px; line-height: 25px; text-align: center; text-transform: uppercase; 
	font-size: 12px; color:#AF4B32; border: 1px solid #80301D; background-color:#513328; }
.prev_btn { float: left; }
.next_btn { float: right; }

.play_btn {
	clear: both; width: 100px; height: 25px; margin: 0 auto 12px; line-height: 25px; text-align: center; 
	text-transform: uppercase; font-size: 12px; color:#AF4B32; border: 1px solid #80301D; background-color:#513328;
 }

.num_nav { text-align: center;}
.num_nav ul li { display: inline; margin: 0 2px; }
.num_nav ul li a { padding: 2px 3px; color:#AF4B32; border: 1px solid #80301D; background-color:#513328; }
.num_nav ul li a.active, .num_nav ul li a:hover { border-color: #fff; background-color:#80301D; }


.btn_over { color:#fff; border: 1px solid #fff; background-color: #80301D; }

hr { margin: 22px 0; }

.clearit { clear: both; }

